@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color-hue: 252;

  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(var(--primary-color-hue), 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;

  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-y: hidden;
}

/* ----------- GENERAL STYLES ------------ */
.container {
  width: 80%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}
a {
  color: inherit;
}
/* ------------ NAV BAR ------------ */

nav {
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background-color: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.search-bar input[type="search"]::-webkit-input-placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ------------ MAIN ------------ */

main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  position: relative;
}

/* ------------ lEFT ------------ */
main .container .left {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: var(-sticky-top-left);
}

main .container .left .profile {
  padding: var(--card-padding);
  background-color: var(--color-white);
  color: var(--color-dark);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
}

/* ------------ SIDEBAR ------------ */
.left .sidebar {
  margin-top: 1rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  color: var(--color-dark);
}

.left .sidebar .menu-item:hover {
  background-color: var(--color-light);
}

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.left .sidebar i .notification-count {
  background-color: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
  border-radius: var(--border-radius);
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background-color: var(--color-light);
}

.left .sidebar .active i::before,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* ------------ NOTIFICATIONS POPUP ------------ */
.left .notifications-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
  z-index: 8;
}

.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.left .notifications-popup > div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notification-popup small {
  display: block;
}

/* ------------ MIDDLE ------------ */
.middle{
  padding-bottom: 0;
  margin-bottom: 0;
}

main .container .middle .profile {
  padding: var(--card-padding);
  background-color: var(--color-white);
  color: var(--color-dark);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  margin-bottom: 5px;
}

.unread{
  border: 1px solid rgb(248, 31, 31);
}

/* ------------ CREATE POST ------------ */
.middle .create-post {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
  /* position: fixed;
  bottom: 70px;
  right: inherit; */
}

.middle .create-post textarea {
  justify-self: flex-start;
  width: 100%;
  padding-left: 1rem;
  background-color: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
  resize: none;
}

/* FEED */

.chat-message{
  padding: 10px;
  margin: 10px 2px;
  /* border: 1px solid #5f5f5f; */
  border-radius: 10px;
  width: fit-content;
  overflow-y: auto;
}
.chat-left{
  float: left;
  clear: both;
  background-color: green;
}
.chat-right{
  float: right;
  clear: both;
  background-color: rgb(114, 114, 247);
}

.chat-time{
  background-color: transparent;
  font-size: 12px;
}

.middle .feeds .feed {
  background-color: none;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
  /* border: 1px solid #aaaaaa; */
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

/* ------------ RIGHT ------------ */
.main .container .right {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-primary);
}

.right .messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.right .message .profile-photo {
  position: relative;
  overflow: visible;
}

.right .message .profile-photo img {
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background-color: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ------------ FRIEND REQUESTS ------------ */
.right .friend-requests {
  margin-top: 1rem;
}

.right .friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}

/* ------------ THEME CUSTOMIZATION ------------ */
.customize-theme {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  display: none;
}

.customize-theme .card {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  z-index: 105;
  box-shadow: 0 0 1rem var(--color-primary);
}

/* ------------ FONT SIZE ------------ */
.customize-theme .font-size {
  margin-top: 5rem;
}

.customize-theme .font-size > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
  background-color: var(--color-secondary);
  height: 0.3rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-size span {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active {
  background-color: var(--color-primary);
}

/* ------------ COLORS ------------ */
.customize-theme .color {
  margin-top: 2rem;
}

.customize-theme .choose-color {
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customize-theme .choose-color span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1) {
  background-color: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
  background-color: hsl(38, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
  background-color: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
  background-color: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
  background-color: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid white;
}

/* ------------ BACKGROUND ------------ */
.customize-theme .background {
  margin-top: 2rem;
}

.customize-theme .choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.customize-theme .choose-bg > div {
  padding: var(--card-padding);
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
}

.customize-theme .choose-bg > div.active {
  border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
  background-color: white;
  color: black;
}

.customize-theme .choose-bg .bg-2 {
  background-color: hsl(252, 30%, 17%);
  color: white;
}

.customize-theme .choose-bg .bg-3 {
  background-color: hsl(252, 30%, 10%);
  color: white;
}

.customize-theme .choose-bg > div span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  margin-right: 1rem;
}

.left,
.middle,
.right {
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar,
.left::-webkit-scrollbar,
.middle::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*,
.left,
.middle,
.right {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.middle .content-only{
  /* border: 1px solid #575656; */
  border-radius: 10px;
  height: calc(100vh - 250px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.left{
  padding-bottom: 100px;
}
.right{
  padding-bottom: 100px;
}

/*====================================================================
=            MEDIA QUERIES - SMALL LAPTOP AND BIG TABLETS            =
=====================================================================*/

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .container .left .profile {
    display: none;
  }

  .middle .content-only{
    height: calc(100vh - 250px);
  border-radius: 10px;

    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left .btn {
    display: none;
  }

  

  .customize-theme .card {
    width: 80vw;
  }
}

/*====================================================================
=            MEDIA QUERIES - SMALL TABLETS AND MOBILES PHONES        =
=====================================================================*/

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    margin-top: -18px;
    grid-template-columns: 0 auto;
    gap: 0;
  }

  main .container .left {
    grid-column: 1/-1;
    position: fixed;
    /* top: 4.25rem; */
    bottom: 0;
    right: 0;
  }
  .left {
    width: 1rem;
    z-index: 5;
}

  main .container .left .sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .left .sidebar {
    margin-top: 0.2rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

  main .container .left .sidebar a {
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  main .container .left .sidebar .active {
    border-bottom: 5px solid var(--color-primary);
  }

  .left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    margin: auto auto;
  }

  .left .sidebar .menu-item:first-child.active {
    border-top-left-radius: 0;
    overflow: hidden;
  }

  .left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: 0;
    overflow: hidden;
  }

  .left .sidebar .active::before {
    display: none !important;
  }

  .left .notifications-popup {
    display: none !important;
  }

  main .container .middle {
    grid-column: 1/-1;
  }
  .middle .content-only{
    height: calc(100vh - 305px);
  border-radius: 10px;

    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .post-text-active{
    text-align: center;
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
  }

  .post-text {
    font-size: 15px;
    text-align: center;
  }
  main .container .right {
    display: none;
  }

  .customize-theme .card {
    width: 92vw;
  }

  .middle .stories {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 0.5rem;
  }

  .middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}
