<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="google-signin-client_id" content="1078119628402-j877rvi86nffa07mqr7n5faidjl52bu7.apps.googleusercontent.com"> -->
    <title>Conference</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./styles/updatedRegister.css" />
    <link rel="stylesheet" href="./styles/popup.css" />
    <!--Stylesheet-->
    <style media="screen"></style>
</head>

<body>
    <main>
        <section id="photos-ctr">
            <img src="https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png"
                alt="Two smart phones, one black, one white, the white one overlapping the other; both phone screen display example images from the website.">
            <div id="phone-display">
                <img id="image-1" src="pic1" alt="A woman standing in front of many tall cacti.">
                <img id="image-2" src="pic2" alt="A potted orange Desert Cabbage against a blue wall.">
                <img id="image-3" src="pic3" alt="Text conversation contianing images of cats and cat puns.">
                <img id="image-4" src="pic4" alt="Top view of a green Tree Aeonium plant.">
                <img id="image-5" src="pic5" alt="Instagram profile display for Jane Appleseed.">
            </div>
        </section>

        <section id="details-ctr">
            <div id="login-ctr">
                <div id="errorBox" style="display: none; color: red;z-index: 2;font-size: small;margin: -30px;"></div>
                <div class="card">
                    <h2>Conference</h2>

                    <!-- SE CONNECTER / S'INSCRIRE -->
                    <div class="login_register ">
                        <a href="/login" class="login " target="blank">Login</a>
                        <a href="/register" class="register active" target="blank">Signup</a>
                    </div>
                    <div id="myPopup" class="popup">
                        <div class="popup-content">
                            <label for="" class="text-bold">Details sent for Verification</label>
                            <p>You will be notified in few days</p>
                            <button id="yesButton" class="formal-button">
                                OK
                            </button>
                        </div>
                    </div>

                    <!-- FORMULAIRE -->
                    <form class="form" id="register_form">
                        <input type="text" placeholder="Name" id="name">
                        <input type="text" placeholder="School" id="school">
                        <input type="text" placeholder="Course" id="course">
                        <input type="text" placeholder="Section" id="section">
                        <input type="text" placeholder="RollNo" id="rollno">
                        <input type="email" placeholder="Email" id="email">
                        <input type="password" placeholder="Password" id="password">
                        <input type="file" id="idcard" style="display: none;"
                            onchange="document.getElementById('fileLabel').innerText = this.files[0].name">
                        <label for="idcard" id="fileLabel" style="cursor: pointer;"><p style="color: grey;">Upload your ID Card</p></label>
                        <button type="submit" class="login_btn" id="submit-btn">Send for Verification</button>
                    </form>

                    <!-- BOUTTON LOGIN -->
                    <div class="footer_card">
                        <p>Already registered</p>
                        <a href="/login">Log In now</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div id="footer-ctr">
            <div>
                <a href="#">Meta</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Jobs</a>
                <a href="#">Help</a>
                <a href="#">API</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Top Accounts</a>
                <a href="#">Hashtags</a>
                <a href="#">Locations</a>
                <a href="#">Instagram Lite</a>
            </div>
            <div>
                <a href="#">Beauty</a>
                <a href="#">Dance</a>
                <a href="#">Fitness</a>
                <a href="#">Foot & Drink</a>
                <a href="#">Home & Garden</a>
                <a href="#">Music</a>
                <a href="#">Visual Arts</a>
            </div>
            <div>
                <select>
                    <option value="en">English</option>
                    <option value="en">English</option>
                </select>
                <p id="select-replace">English</p>
                <div id="select-carrot-wrap">
                    <span>
                        <svg id="select-carrot" role="img" viewBox="0 0 24 24" height="12" width="12">
                            <path
                                d="M21 17.502a.997.997 0 01-.707-.293L12 8.913l-8.293 8.296a1 1 0 11-1.414-1.414l9-9.004a1.03 1.03 0 011.414 0l9 9.004A1 1 0 0121 17.502z">
                            </path>
                        </svg>
                    </span>

                </div>
                <p id="meta-gram">© 2023 Conference</p>
            </div>
        </div>
    </footer>
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>      -->
</body>

</html>
<script src="./scripts/register.js"></script>